.just-padding {
    padding: 15px;
}

.bstreeview.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.bstreeview.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.bstreeview.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.bstreeview.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}
/* 
.bstreeview.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.bstreeview.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
} */

.bstreeview.list-group-item .glyphicon {
    margin-right: 5px;
}
/* .bstreeview .indent {
    padding-left: 45px;
} */
